    /* Página */


html {
    --azul-light: #F5F8FF;
    --azul-regular: #114AD6;
    --azul-tres: #062EC0;
    --azul-cuatro: #06238C;
    --azul-bold: #031A70;
    --naranja-light: #FFF7F5;
    --naranja-regular: #F95F00;
    --narnaja-bold: #EE1D02;
    --negro: #11131C;
        }

    /*---------------------------------------*/    

    /* aca se incorporo los font al proyecto*/

@font-face {
    font-family: Montserrat-bold;
    src: url('./assests/font/MONTSERRAT-BOLD.OTF');
    font-weight: bold;
}

@font-face {
    font-family: Montserrat-bolder;
    src: url('./assests/font/MONTSERRAT-EXTRABOLD.OTF');
    font-weight: bolder;
}
@font-face{
    font-family: FiraSans-Heavy;
    src: url('./assests/font/FiraSans-Heavy.otf');
}

@font-face{
    font-family: FiraSans-Regular;
    src: url('./assests/font/FiraSans-Regular.otf');
}
/* ------------------------------------------------------*/
/* ESTILOS SESIONES 4, 5, 6,  Y 8*/
/* ------------------------------------------------------*/

/* -------------------*/
/* ESTILOS de sesion 4*/
/* -------------------*/
.h2 {
    font-family: 'Montserrat-bolder';
}
/* -------------------*/
/* ESTILOS de sesion 5*/
/* -------------------*/

/* para la sesion 5 cree las clases .gruesoText .pesoText y .topText 
para dar un poco mas de oscuridad a las letras y para y para dar un poco de margen*/

.gruesoText{
    font-weight: 650;
}
.pesoText{
    font-weight: 550;
    line-height: 1em;
    
}
.topText{
    margin-top: 20px;
}

/* -------------------*/
/* ESTILOS de sesion 6*/
/* -------------------*/

/* para la sesion 6 cree clases liEstilo y poder quitar las viñetas de puntos  */

.liEstilo{
    list-style: none;
}
.margenSeccion6{
    margin-top: 400px;
}
/* .bottonText{
    margin-bottom: 1px;
} */
/* ------------------------------------------------------*/
/* FIN DE ESTILOS SESIONES 4, 5, 6,  Y 8*/
/* ------------------------------------------------------*/

/* H1 */

font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 38px;
line-height: 46px;
color: var(--negro);

/* H2 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 34px;
line-height: 41px;
color: var(--negro);


/* H3 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 37px;
/* identical to box height */
color: var(--negro);


/* H4 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 32px;
/* identical to box height */
color: var(--negro);


/* H5 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
/* identical to box height */
color: var(--negro);


/* H6 */
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */
color: var(--negro);


/* P Big */
font-family: 'Fira Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: var(--negro);


/* P Big Bold */
font-family: 'Fira Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: var(--negro);


/* P */
font-family: 'Fira Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */
color: var(--negro);


/* P Bold */
font-family: 'Fira Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */
color: var(--negro);


/* P Small */
font-family: 'Fira Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;
color: var(--negro);


/* P Small Bold */
font-family: 'Fira Sans';
font-style: normal;
font-weight: 700;
font-size: 11px;
line-height: 13px;
color: var(--negro);


---------------------------

--------------------------

button {	/* Normal Azul */
background-color: var(--azul-regular)
border-radius: 7px; }

button {	/* Normal WhatsApp */
background: #3CC763;
border-radius: 7px; }

button {	/* Normal Telegram */
background: #28BFFF;
border-radius: 7px; }





